<h1>Messageboard</h1>

<section class='row' ng-if='messages'>
  <ul>
    <li ng-repeat='message in messages'>
      {{message.username}}
      {{message.content}}
    </li>
  </ul>
</section>

<!--<section class='row'>-->
<!--  <form ng-submit="addMessage()">-->
<!--    <div class='form-group'>-->
<!--      <label for='username'>Message as</label>-->
<!--      <input ng-model='message.username' name='username' type='text'>-->
<!--    </div>-->
<!--    <div class='form-group'>-->
<!--      <input ng-model='message.content' name='message' type='text' placeholder='Write your message here'>-->
<!--    </div>-->
<!--    <div class='form-group'>-->
<!--      <input type="submit">-->
<!--    </div>-->
<!--  </form>-->
<!--</section>-->

<form ng-submit="addMessage(message)">
  <input type="text" ng-model="message.username">
  <input type="text" ng-model="message.content">
  <input type="submit">
</form>